<!DOCTYPE html>
<html>
  <head>
  </head>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/add">Add a record</a></li>
      <li><a href="/edit">Edit a record</a></li>
      <li><a href="/read">View records</a></li>
    </ul>
  </nav>
  <body>
  </body>
</html>